body, h1, h2, h3, p, a, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Calibri', sans-serif;
}

body {
    padding: 20px;
    background-color: #918366; 
    color: black; 
}

.light-theme {

    color: black;
}

.dark-theme {
    background-color: #242424; 
    color: black; 
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    text-align: center;
    background-image: url('../images/BG.jpg'); 
    background-size: cover;
    background-position: center;
    color: white;
}

header h1 {
    font-size: 50px; 
    margin-top: 20px;
}

.title-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; 
}

.slanted-text {
    font-family: 'Garamond', serif; 
    font-size: 50px; 
    transform: skew(-15deg); 
    margin-left: 10px; 
}

.title-box img {
    width: 65px; 
    height: auto;
    margin-right: 25px; 
}

.content-box {
    background-color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin: 20px auto;
    max-width: 1500px;
}

.content-flex {
    display: flex;
    align-items: center;  
    justify-content: space-between;  
}

.content-flex p {
    flex-grow: 1;  
    margin-right: 20px;  
}

.content-flex img {
    flex-shrink: 0;  
    width: 150px;  
    height: auto;  
    order: 2;  
}


.navigation {
    position: fixed;
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    background-color: #29251d;
    padding: 5px;
    text-align: center;
    overflow: hidden;
    transition: width 0.3s;
}

.navigation:hover {
    width: 200px;
}

.navigation a, .navigation button {
    color: white;
    display: block;
    opacity: 0;
    transition: opacity 0.3s 0.3s;
}

.navigation:hover a, .navigation:hover button {
    opacity: 1;
}

section {
    margin: 20px;
    padding: 20px;
}

.next-button {
    padding: 10px 20px;
    color: white;
    background-color: #877858;
    border: none;
    cursor: pointer;
    display: block;
    width: 200px;
    margin: 20px auto;
    text-align: center;
}

.dark-mode {
    background-color: #000000; 
    color: black;
}

.light-green-theme {
    background-color: #b4d9be; 
    color: black;
}
